@import 'tailwindcss';

:root {
  --border: var(--mantine-color-default-border);
  --card: var(--mantine-color-default);
}

body {
  background: var(--mantine-color-body);
  color: var(--mantine-color-text);
}
